
.ListOfOrganization-content {
  display: flex;
}

.organization-item {
  width: 30%;
  padding: 10px;
  margin: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  height: 15vh;
  overflow: hidden;
  display: flex;
  align-items: center;

  .row-header {
    display: flex;
    justify-content: space-between;
    align-items: center;

    h2 {
      color: #000000;
      font-size: 16px;
      font-weight: 600;
      line-height: 19px;
      letter-spacing: 0px;
      text-align: left;
      margin: 0;
    }
  }

  p {
    color: #858a9e;
    font-size: 14px;
    font-weight: 400;
    line-height: 18px;
    letter-spacing: 0px;
    text-align: left;
  }
}

.ListOfOrganization-toggle {
  width: 250px;
  height: 59px;
  padding: 8px;
  border-radius: 6565px;
  background-color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 32px auto;
  cursor: pointer;

  h3 {
    width: 117px;
    height: 43px;
    padding: 10px;
    border-radius: 555px;
    gap: 10px;
    font-family: Work Sans;
    font-size: 20px;
    font-weight: 600;
    line-height: 23px;
    letter-spacing: 0px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #ffffff;

    &.selected {
      background-color: #10baac;
      color: #ffffff;
    }

    &:hover {
      background-color: #f3fcfb;
      color: #10baac;
    }
  }
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

.heading-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

.grid-item button {
  background-color: #10baac;
  color: #ffffff;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  width: 100%;
  margin: 12px 3px 0px 0px;
}

.custom-img-class {
  width: 30px;
  height: 30px;
  margin-top: 7%;
}

.grid-item {
  padding: 10px;
  display: flex;
  flex-direction: column;
  border: 2px solid #e6e9f5;
}

.grid-item-inner-container {
  border: 1px solid #e6e9f5;
  text-align: center;
}
