// dashboardTable
.ant-table {
    font-size: 16px;
  }
  
  @media (max-width: 767px) {
    .ant-table {
      font-size: 14px; 
    }
    .ant-table-thead th {
      padding: 8px; 
    }
    .ant-table-tbody td {
      padding: 8px; 
    }
  }
  
  @media (min-width: 768px) and (max-width: 1023px) {
    .ant-table {
      font-size: 18px; 
    }
  }
  
  @media (min-width: 1024px) {
    .ant-table {
      font-size: 20px; 
    }
  }
  