.create-question-container {
    background-color: white;
    border-radius: 8px;
    padding: 20px;

    .select-button {
        margin-top: 32px;
        width: 123px;
        height: 39px;
        padding: 10px;
        border-radius: 4px;
        border: none;
        background-color: white;
        color: gray;

        h4 {
            margin: 0;
        }
    }

    .selected-select-button {
        background-color: #10BAAC;
        color: white;
    }
}